blinker==1.9.0
click==8.1.8
colorama==0.4.6
itsdangerous==2.2.0

python-dotenv==1.1.0
waitress==3.0.2
Flask==3.1.0
lyricsgenius==3.0.1

packaging==23.2
mysql-connector-python==9.3.0
deepl==1.22.0
pillow==11.2.1
langdetect==1.0.9

requests==2.31.0
openai==1.30.5
PyJWT==2.8.0
Flask-SocketIO==5.3.5
flask-session==0.8.0
python-socketio==5.11.0
python-engineio==4.8.2
eventlet==0.33.3
gevent==25.5.1
gevent-websocket==0.10.1
redis==6.2.0
flask-limiter==3.12

gTTS==2.5.3
pywebpush==1.14.0
cryptography==42.0.5
