<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <!--    <title>{% block title %}Umíme anglicky{% endblock %}</title>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="/static/mobile_header.css">
</head>
<body>
<!--<header>-->
<!--    <h1>Umíme anglicky</h1>-->
<!--</header>-->
<main>
    {% block content %}{% endblock %}
</main>
<!--<footer>-->
<!--    <p>&copy; 2025 Umíme anglicky</p>-->
<!--</footer>-->
</body>
</html>

